<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.elquineas.erp.dao.UserDao">
 
 	<select id="loginUser">
 		SELECT *
		FROM   tbl_user
		LEFT JOIN tbl_dept ON u_dept = d_num
		LEFT JOIN tbl_position ON u_position = p_num
		WHERE  u_id 	  = #{u_id}
 	</select>
 	<select id="selectList">
		SELECT * 
		FROM tbl_user 
		LEFT JOIN tbl_dept ON u_dept = d_num
		LEFT JOIN tbl_position ON u_position = p_num
		ORDER BY u_seq ASC
 	</select>
 	
 	<update id="updateUser">
	 	update 	tbl_user
		set 	u_name 		= #{u_name}
		,		u_dept 		= #{u_dept}
		,		u_position 	= #{u_position}
		,		u_role		= #{u_role}
		where 	u_seq = #{u_seq}
		and 	u_id = #{u_id}
 	</update>
 	<insert id="insertUser">
 		INSERT INTO tbl_user (u_id,u_password,u_name,u_dept,u_position,u_role)
		VALUES(#{u_id},#{u_password},#{u_name},#{u_dept},#{u_position},#{u_role});
 	</insert>
 	
 	<update id="update"></update>
 
 </mapper> 